*.a
*.gmo
*.o
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.status
config.sub
config.log
configure
po/Makefile.in.in
po/POTFILES
src/.deps
src/Makefile
src/Makefile.in
src/ttsubset/.deps/
src/ttsubset/Makefile
src/ttsubset/Makefile.in
src/xournal
stamp-h1
