Source: xournal
Section: unknown
Priority: optional
Maintainer: Daniel M German <dmg@uvic.ca>
Build-Depends: debhelper (>= 7), autoconf, automake, libgtk2.0-dev (>= 2.10),
     libgnomecanvas2-dev, libpoppler-glib-dev (>= 0.5.4)
Standards-Version: 3.9.1
Homepage: http://xournal.sourceforge.net/

Package: xournal
Architecture: any
Depends: maemo
Description: xournal application
 Application to take notes over a PDF
